body {
    color: #fff;
    background-color: darkgray;
}

.stButton>button {
    color: #4F8BF9;
    border-radius: 30%;
    height: 3em;
    width: 4em;
}

.stTextInput>div>div>input {
    color: ;
}
.stTextArea>div>textarea {
    color: #4F8BF9;
}
.stTextArea>label {
    color: #fff;
    font-size: 18px;
}

.material-icons.yellow { color: orange; background-color: #fff;}
.material-icons.red { color: red; background-color: #fff;}
.material-icons.green { color: green; background-color: #fff;}
.material-icons.md-48 { font-size: 48px; }

